@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}


/*--------------------Header------------------*/
.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

/*--------------------Body----------------------*/
body{
    background-color:hsl(47, 88%, 63%);
}



/* -------------------Presentetation Card-----------*/
.container{
    background-color: hsl(0, 0%, 100%);
    width: 329px;
    height: 503px;
    margin: 81px 20px;
    border: 1px solid black;
    border-radius: 14px;
}

.ilustration{
    width: 278px;
    border-radius: 10px;
}

.ilustration-div{
    width: 278px;
    margin: 25px 0px 0px 25px;
}

.learning-div{
    width: 70px;
    height: 27px;
    border-radius: 5px;
    margin: 25px 27px;
    justify-content: center;
    font-weight: bolder;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(47, 88%, 63%);
}

.lighter{
    font-size: 12px;
    font-weight: lighter;
}
.left{
    margin-left: 25px;
}
.down{
    margin-bottom: 20px;
}
.tittle{
    font-weight: bold;
    color: hsl(0, 0%, 7%);
    margin-right: 15px;
    font-size: 19px;
}
.informative-text{
    font-size: 15px;
    font-weight: 600;
    color: hsl(0, 0%, 50%);
}

.greg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: right;
}

.greg-hooper-img{
    width: 40px;
}

